{% extends 'base.html' %}
{% block page_title %}About - {{ config.title }}{% endblock %}

{% block content %}
<div class="container max-w-screen-lg mb-8">
    {% include 'user_card.html' %}
</div>
<div class="bg-base-200">
    <div class="container max-w-screen-lg py-8 text-center mb-16">
        <h3 class="font-bold text-2xl">My software development exploration timeline</h3>
    </div>
</div>
<div class="container pb-16">
    <ul class="timeline timeline-vertical">
        <li>
            <div class="timeline-middle">Start</div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle md:timeline-start timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2012</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Beginning of everything</div>
                <p>I don't clearly remember, but thoses days mig33 was in hype. I was in class 8. I was learning HTML,
                    CSS and found JS since a year so, started new project to hold mig33 community and named LuMig33 and
                    rebranded as HitMig33. It was just a static website build with inline css for mig33 app view.</p>
            </div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="hidden md:inline md:timeline-end">2012</div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="hidden md:inline md:timeline-start">2013</div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="timeline-middle md:timeline-end timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2013</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Found PHP and MySQL Database</div>
                <p>Drag n Drop builders like blogspot, Dreamweaver were available but I always wanted full control. I
                    was full-time learner and programming in general was what I wanted at that time. Finding PHP and
                    It's easy DB connection boosted my interest in web development. Dynamic web pages and exploration of
                    globals, auth with session was kind of cool for me.</p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle md:timeline-start timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2014</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Break</div>
                <p>SLC was around corner and learning continued in background. My schooling completed at
                    <strong>Ex-Servicemen Children Academy</strong>.
                </p>
            </div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="hidden md:inline md:timeline-end">2014</div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="hidden md:inline md:timeline-start">2015</div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="timeline-middle md:timeline-end timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2015</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Went Kathmandu to live a dream</div>
                <p>Joined <strong>Kasthmandap College</strong> for +2. Worked on custom PHP framework to build social
                    networking site. Pitched in class, found useful tips and tricks about product and marketing. Joined
                    Microsoft Student Partner Program. Found CodeIgniter PHP framework and started working as a
                    freelance contractor with few of internet friends as beginner full stack developer. Got my own very
                    first client to develop product showcase site. Using Ubuntu with dual-boot and sublime-text.</p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle md:timeline-start timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2016</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Science, Freelance, Teaching, full-time Job and College
                </div>
                <p>Academic study was not fulfilling. Found Laravel and loved everything that was not available in CI.
                    Found composer and git to be very helpful. Still taking projects as freelance developer. Started
                    teaching for few months then joined <strong>Blue Muffin Studio</strong> as full-time full stack web
                    developer. Found WordPress and fall in love with it. Easy development with less effort. Experienced
                    office life and different software development process. I got to work on different projects with
                    different developers. Joined <strong>Ambition College</strong> for Bachelor in Computer Science and
                    Information Technology (B.Sc.CSIT) degree.</p>
            </div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="hidden md:inline md:timeline-end">2016</div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="hidden md:inline md:timeline-start">2017</div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="timeline-middle md:timeline-end timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2017</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">College, Job, Freelance and more exploration of tech
                </div>
                <p>Tried C, C++ in college. Completed GUI thin client chat application with C++ and Laravel backend
                    server. Found Angular, AngularJS and ReactJS. Angular was on hype and backed by google so picked it
                    and completed serval projects using Angular. Worked on custom eCommerce project build on Laravel and
                    Angular. Found React Native, Phonegap and Kotlin. Completed few sample projects with React Native,
                    Phonegap and Kotlin. Found MongoDB and started using redis as cache server. Started using WHM, CDN,
                    VPS, full page cache and lot others. Found knockoutJS and modified existing product. Found Magento 1
                    & 2. Experienced Magento projects on job and freelance. Using Ubuntu and PhpStorm.</p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle md:timeline-start timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2018</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Switched Job and continued exploration</div>
                <p>Academic study was never fulfilling. Found python and it's fun. Continued digging PHP, MySQL,
                    Laravel, WordPress, JavaScript, Angular, React Native. After 2 years of working, I took small break
                    and joined <strong>Rillmark</strong> as full-time Laravel developer. Meet new people and got to work
                    on multi level marketing like product. Switched to <strong>Javra Software</strong> as Software
                    Engineer and started working on heavily customized Magento2 EE (B2B). Found Flutter and started
                    tweaking. Hopped into different linux distro.</p>
            </div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="hidden md:inline md:timeline-end">2018</div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="hidden md:inline md:timeline-start">2019</div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="timeline-middle md:timeline-end timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2019</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Javra Software and Magento2</div>
                <p>Experienced Agile/Scrum Methodology, best practices & coding patterns, Magento2 Enterprise Edition
                    architecture, Custom Magento2 Erp Connector flow, Custom Magento2 PIM Connector flow, elasticsearch,
                    varnish & reverse proxy, load balancer, distributed computing, scaling strategies, bash automation,
                    containerized development and super git flow for controlled deployment and development. Promoted to
                    Senior Software Engineer. Experienced swagger, openAPI specification, graphQL, HTTP versions and
                    caching. Taking symfony5 and react pwa seriously. Hopped into different linux distro.</p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle md:timeline-start timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2020</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Quarantine and continued exploration</div>
                <p>Experienced CI/CD and better way of software development with different development tools. Found
                    serverless, notebook, online vscode or editors, remote development flow, WSL2, WSL2 + docker for
                    software development. Working with Magneto2 Venia PWA. Exploring symfony5 and bundle architecture.
                    Exploring microservice architecture and event sourcing for distributed system. Build few opensource
                    development docker and github actions with <strong>ReadyMadeHost</strong>. Hopped into Arch, WSL2
                    and using vscode + PhpStorm.</p>
            </div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="hidden md:inline md:timeline-end">2020</div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="hidden md:inline md:timeline-start">2021</div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="timeline-middle md:timeline-end timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2021</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">College project and fresh code start</div>
                <p>Exploring asynchronous PHP, coroutine and alternative PHP runtime. Completed final year college
                    project as Catalog Stickers with symfony5, magento2 and image processing with edge detection
                    algorith written in python, used RabbitMQ for queue process, used GD library for image manupulation.
                    Started EveryWorkflow project with ReactJS, symfony and MongoDB. Using Ant design UI for frontend
                    development, Symfony with lots of custom build bundles for backend development. Switched to
                    <strong>Sastodeal</strong> as Tech Lead. Keeping eye on PHP8, Rust and Flutter. Hopped into Arch,
                    WSL2 + GWSL and using vscode + Neovim + PhpStorm.
                </p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle md:timeline-start timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2022</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Sastodeal and EveryWorkflow development</div>
                <p>Magento2 EE Marketplace ecommerce development and maintainance. Exploring PHP, symfony and MongoDB
                    integration. Exploring multiple frontend development by sharing components. Exploring turborepo and
                    symfony encore with webpack. Found ansible and automated Arch with AwesomeWM complete setup and WSL2
                    setup with dot files. Exploration on docker swarm cluster and Kubernetes cluster for software
                    deployment. Found Rust actix web framework. Found SolidJS and liked it, due to its Fine-grained
                    reactivity and no virtual DOM. Found Bun JS runtime. Found Svelte frontend framework which uses
                    compiler to directly generate minimal javascript code to ship. Keeping eye on PHP, SolidJS and Rust.
                    Hopped into Arch with DWM or AwesomeWM, Windows, MacOS and using Neovim + vscode.</p>
            </div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="hidden md:inline md:timeline-end">2022</div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="hidden md:inline md:timeline-start">2023</div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="timeline-middle md:timeline-end timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2023</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">Collaboration and continued development</div>
                <p>Development of everyworkflow platform. Separated frontend and backend projects for more headless
                    experience. Turborepo is used for frontend using which React ViteJS and NextJS apps are integrated
                    together. Found Rust leptos frontend framework and using it for sample projects. Found HTMX and
                    loved the idea of Hypertext as engine of application state. Found cargo-component, wasmtime,
                    wasm-tools and JCO for nodejs WASM toolchain. Found Rust spin framework, it can run multiple
                    language projects as microservice with direct function call for inter communication bound by wit
                    files, seems better then RPC, gRPC and tRPC. Switched to <strong>Aerion Technologies</strong> as
                    Solutions Architect. Found RedwoodJS, has ReactJS in
                    frontend, graphql and prisma in backend. Keeping eye on JavaScript, HTMX and Rust. Hopped into Arch
                    with AwesomeWM or Hyprland, Nix, Windows, MacOS, Neovim and using Codeium or Github Copilot.</p>
            </div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle md:timeline-start timeline-box p-4 bg-base-200">
                <div class="badge badge-outline md:hidden">2024</div>
                <div class="font-bold text-xl pt-2 md:pt-0 mb-4">GenAI, Python, Javascript and Rust</div>
                <p>Lots rust in life, tera is incomplete, waiting for tera2, rust with mongodb ecosystem is
                    non-existing, love for sqlx, serde, actix and anyhow. After all these years, I wrote lots of python
                    and it's still fun. Found OpenAI, self hosted LLM via ollama, hugging face transformers and gorq
                    with super high inference with their own custom made LPU. Meta's LLAMA is super cool and ChatGPT
                    seems to be winning for now. Found on LangChain, vector store & retrival for context building, RAG
                    and Agents. ReAct is super cool but GenAI seems can't follow through complex tasks. With LangGraph,
                    we can control agents and supervise them in a state machine. RedwoodJS seems super cool and has a
                    lot of potential. ReactJS is still good for complex frontend interaction and HTMX seems good for
                    most of the tasks. Keeping eye on GenAI, Javascript and Rust. Hopped into Arch, Windows, MacOS,
                    using Neovim and sometimes with Github Copilot.</p>
            </div>
            <div class="hidden md:inline md:timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="hidden md:inline md:timeline-end">2024</div>
            <hr />
        </li>
        <li>
            <hr />
            <div class="timeline-middle">End</div>
        </li>
    </ul>
</div>
{% endblock %}
