$sizes: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

:root {
  --primary-color: #f44335;
  --primary-text-color: white;

  --primary-bg-color: #fff;
  --primary-light-color: #fff5f5;

  --background-color: #f7fafc;
  --text-color: #343434;

  --text-base: 8px;
  --spacing-base: 4px;
  --box-shadow-base: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

  --transaction-duration: 150ms;
  --footer-bg-color: #f1f1f1;

  @each $size in $sizes {
    --text-#{$size}: calc(var(--text-base) + #{$size * 2}px);
    --text-#{$size + 12}: calc(var(--text-base) + #{($size + 12) * 2}px);
    --spacing-#{$size}: calc(var(--spacing-base) * #{$size});
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: #333;
    --primary-light-color: #3f3f3f;

    --background-color: #1c1b22;
    --text-color: #c1c1c1;

    --footer-bg-color: #101010;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: auto;
  font-size: var(--text-4);
  line-height: 1.5;
  tab-size: 4;
}

// Utility
.color-primary-text {
  color: var(--primary-color);
}

.color-alt-text {
  color: #b9c3d1;
  font-weight: lighter;
  font-size: var(--text-3);
}

.color-primary-bg {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.color-primary-light-bg {
  background-color: var(--primary-light-color);
  color: var(--primary-color);
}

.text-center {
  text-align: center;
}

.border-radius-circle {
  border-radius: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $size in $sizes {
  .text-#{$size} {
    font-size: var(--text-#{$size});
  }
  .text-#{$size + 12} {
    font-size: var(--text-#{$size + 12});
  }
  .p-#{$size} {
    padding: var(--spacing-#{$size});
  }
  .pt-#{$size} {
    padding-top: var(--spacing-#{$size});
  }
  .pl-#{$size} {
    padding-left: var(--spacing-#{$size});
  }
  .pr-#{$size} {
    padding-right: var(--spacing-#{$size});
  }
  .pb-#{$size} {
    padding-bottom: var(--spacing-#{$size});
  }
  .px-#{$size} {
    padding-left: var(--spacing-#{$size});
    padding-right: var(--spacing-#{$size});
  }
  .py-#{$size} {
    padding-top: var(--spacing-#{$size});
    padding-bottom: var(--spacing-#{$size});
  }
  .m-#{$size} {
    margin: var(--spacing-#{$size});
  }
  .mt-#{$size} {
    margin-top: var(--spacing-#{$size});
  }
  .ml-#{$size} {
    margin-left: var(--spacing-#{$size});
  }
  .mr-#{$size} {
    margin-right: var(--spacing-#{$size});
  }
  .mb-#{$size} {
    margin-bottom: var(--spacing-#{$size});
  }
  .mx-#{$size} {
    margin-left: var(--spacing-#{$size});
    margin-right: var(--spacing-#{$size});
  }
  .my-#{$size} {
    margin-top: var(--spacing-#{$size});
    margin-bottom: var(--spacing-#{$size});
  }
  .border-radius-#{$size} {
    border-radius: var(--spacing-#{$size});
  }
}

.app-btn {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  border-radius: var(--spacing-2);
  box-shadow: var(--box-shadow-base);
  transition-duration: var(--transaction-duration);

  &:hover {
    background-color: var(--primary-light-color);
  }

  @media (prefers-color-scheme: light) {
  }

  @media (prefers-color-scheme: dark) {
    color: var(--primary-color);
  }
}

.app-btn-link {
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  transition-duration: var(--transaction-duration);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  border-radius: var(--spacing-1);
  transition-duration: var(--transaction-duration);

  &:hover {
    background-color: var(--primary-light-color);
  }

  @media (prefers-color-scheme: light) {
  }

  @media (prefers-color-scheme: dark) {
    color: var(--primary-color);
  }
}

// App
.app-container {
  max-width: 920px;
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  margin: auto;
}

@media (max-width: 768px) {
  .app-container {
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }
}

// App Header
.app-header {
  display: flex;

  .app-navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    .nav-link {
      margin: var(--spacing-2);

      &.app-btn.branding-logo {
        padding-top: var(--spacing-1);
        padding-bottom: var(--spacing-1);
        padding-left: var(--spacing-3);
        padding-right: var(--spacing-3);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 22px;
          width: auto;
          display: inline-block;
        }
      }
    }
  }
}

// App Row and Col
.app-row {
  display: flex;

  &.row-vertical {
    flex-direction: row-vertical;
  }

  &.row-justify-content-center {
    justify-content: center;
  }

  &.row-align-items-center {
    align-items: center;
  }

  &.row-wrap {
    flex-wrap: wrap;
  }

  .app-col {
    flex: 1;
  }

  @each $size in $sizes {
    .app-col-#{$size} {
      flex: $size;
    }
  }

  .col-shrink-0 {
    flex-shrink: 0;
  }

  .col-shrink-1 {
    flex-shrink: 1;
  }

  .col-grow-0 {
    flex-grow: 0;
  }

  .col-grow-1 {
    flex-grow: 1;
  }
}

.app-main {
  min-height: calc(100vh - 200px);
}

// App Notes Grid
.app-note-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;

  .app-note-card-link {
    text-decoration: none;
    color: var(--text-color);

    .app-note-card {
      padding-top: var(--spacing-2);
      padding-bottom: var(--spacing-2);
      padding-left: var(--spacing-4);
      padding-right: var(--spacing-4);
      border-radius: var(--spacing-2);
      background-color: var(--primary-light-color);
      border: solid 8px var(--primary-light-color);
      box-shadow: var(--box-shadow-base);
      transition-duration: var(--transaction-duration);
    }

    &:hover .app-note-card {
      background-color: var(--primary-bg-color);
    }
  }
}

@media (max-width: 768px) {
  .app-note-grid {
    grid-template-columns: 1fr;
  }
}

.profile-widget {
  .profile-img {
    width: 140px;
  }

  .profile-label {
    font-size: var(--text-12);
  }

  .profile-icon-svg {
    fill: var(--text-color);
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 768px) {
  .profile-widget {
    .profile-img {
      width: 64px;
    }

    .profile-label {
      font-size: var(--text-6);
    }
  }
}

.hero-greeting {
  .hero-greeting-text {
    font-size: var(--text-16);
  }

  .hero-greeting-text-secondary {
    font-size: var(--text-6);
  }
}

@media (max-width: 768px) {
  .hero-greeting {
    .hero-greeting-text {
      font-size: var(--text-12);
    }

    .hero-greeting-text-secondary {
      font-size: var(--text-5);
    }
  }
}

.app-md-content {
  h1 {
    margin-top: var(--spacing-10);
  }

  h2 {
    margin-top: var(--spacing-8);
  }

  h3 {
    margin-top: var(--spacing-6);
  }

  h4 {
    margin-top: var(--spacing-6);
  }

  img {
    max-width: 100%;
  }

  code {
    background-color: var(--primary-light-color);
    border-radius: var(--spacing-1);
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
    color: var(--primary-color);
  }
  pre {
    font-family: "Fira Code", monospace;
    border-radius: var(--spacing-1);
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    font-size: var(--text-3);
    background-color: #3f3f3f;
    color: #c1c1c1;

    code,
    code.hljs {
      font-family: "Fira Code", monospace;
      background-color: #3f3f3f;
      font-size: var(--text-3);
      white-space: pre-wrap;
      color: #c1c1c1;
      padding: 0;
    }
  }
}

// App Footer
.app-footer {
  background-color: var(--footer-bg-color);
  margin-top: var(--spacing-6);
  padding: var(--spacing-12);
  text-align: center;
  font-size: var(--text-3);
}
