<header id="site-header" class="py-8" hx-preserve="true">
    <div class="container max-w-screen-lg">
        <div class="flex gap-4 justify-center items-center">
            <a class="btn btn-neutral" href="{{ get_url(path='/') }}">
                Home
            </a>
            <a class="btn btn-neutral" href="{{ get_url(path='/about') }}/">
                About
            </a>
            <a class="btn btn-neutral" href="{{ get_url(path='/blog') }}/">
                Blog
            </a>
        </div>
    </div>
    <span class="absolute right-1 top-1">
    {% include 'theme_switcher.html' %}
    </span>
</header>
