{% extends 'base.html' %}
{% block page_title %}{{ page.title }} - {{ config.title }}{% endblock %}

{% block content %}
<div class="bg-base-200 mb-8">
    <div class="container max-w-screen-lg py-8">
        <h1 class="font-bold text-4xl mb-4">{{ page.title }}</h1>
        <div class="text-sm">
            <span>{{ page.reading_time }} min read</span>
            <span>·</span>
            <span>{{ page.date }}</span>
        </div>
    </div>
</div>
<div id="page-{{ page.path | slugify }}" class="container max-w-screen-lg pb-16">
    <article class="prose lg:prose-xl max-w-none">
        {{ page.content | safe }}
    </article>
</div>
{% endblock content %}
