<section class="flex items-center justify-center gap-4 py-8">
    <div>
        <img src="{{ get_url(path='/profile.jpeg') }}" alt="Profile picture" class="rounded-full w-28 h-28" />
    </div>
    <div class="flex flex-col">
        <h4 class="font-bold text-3xl">Suson Waiba</h4>
        <p>susonwaiba@gmail.com</p>
        <div class="text-xs">
            <a class="hover:text-primary hover:underline" href="https://github.com/susonwaiba" target="_blank">Github</a>
            <span>·</span>
            <a class="hover:text-primary hover:underline" href="https://www.linkedin.com/in/susonwaiba" target="_blank">Linkedin</a>
            <span>·</span>
            <a class="hover:text-primary hover:underline" href="https://twitter.com/susonwaiba" target="_blank">Twitter</a>
        </div>
    </div>
</section>
